/* FONTS------------------------------------------------------------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Condensed&display=swap");
@font-face {
  font-family: "distant stroke";
  src: url(../fonts/Distant_Stroke.otf);
}
/* MIXINS ------------------------------------------------------------------------------*/ /* HEADER GENERAL---------------------------------------------------------------------- */
.flexHeader {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.flexHeader h1 {
  font-family: "Bebas Neue", cursive;
  color: white;
  font-weight: normal;
  font-size: 60px;
  text-align: center;
}
.flexHeader h1 a {
  text-decoration: none;
  color: white;
}
.flexHeader h2 {
  font-family: "distant stroke";
  color: white;
  font-weight: normal;
  font-size: 50px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 10px;
}

/* HEADER INDEX----------------------------------------------------------------------- */
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.headerIndex {
  height: 95%;
  display: flex;
  flex: 50%;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.headerIndex h1 {
  font-family: "Bebas Neue", cursive;
  color: white;
  font-weight: normal;
  font-size: 60px;
  text-align: center;
  text-decoration: none;
  animation-name: aparecer;
  animation-duration: 5s;
  animation-iteration-count: initial;
}
.headerIndex h1 a {
  text-decoration: none;
  color: white;
}
.headerIndex h2 {
  font-family: "distant stroke";
  color: white;
  font-weight: normal;
  font-size: 50px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 10px;
  animation-name: aparecer;
  animation-duration: 4s;
  animation-iteration-count: initial;
}
.headerIndex p {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: lighter;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  margin: 40px 40px 20px 40px;
  animation-name: aparecer;
  animation-duration: 5s;
  animation-iteration-count: initial;
}

/* FOOTER----------------------------------------------------------------------------- */
.flexFooter {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.navFooter {
  font-family: "Montserrat", sans-serif;
}
.navFooter ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navFooter li {
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
}
.navFooter li a {
  padding: 5px;
  color: rgb(175, 175, 175);
  text-decoration: none;
  font-size: 14px;
}
.navFooter li a:hover {
  transition: 0.1s;
  background-color: #333333;
  color: #ffffff;
  border-radius: 4px;
}

.infoFooter {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: rgb(175, 175, 175);
}

/* RESET DE MARGIN Y PADDING---------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY------------------------------------------------------------------------------- */
body {
  background-color: rgb(32, 32, 32);
}

/* FLEX PRINCIPAL--------------------------------------------------------------------- */
.flexPrincipal {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

/* FLEX INDEX ------------------------------------------------------------------------ */
.flexIndex {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
}

/* FLEX PAGINA ACERCA DE MI -----------------------------------------------------------*/
.flexAcercaDe {
  display: flex;
  flex: 77vh;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.imagenYoUno {
  margin: 0 20px 0 0;
  display: flex;
  height: 75vh;
  flex: 50%;
  justify-content: right;
  align-items: center;
}
.imagenYoUno img {
  height: 35vh;
  width: 80%;
  object-fit: cover;
}

.imagenYoDos {
  display: none;
}

.parrafoYo {
  display: flex;
  flex: 50%;
  justify-content: left;
  align-items: center;
}
.parrafoYo p {
  width: 60%;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: lighter;
  font-size: 15px;
  line-height: 20px;
}

/* BOTON DE INSTAGRAM----------------------------------------------------------------- */
.botonInsta {
  position: fixed;
  bottom: 15px;
  right: 20px;
}
.botonInsta img {
  width: 40px;
  bottom: 10px;
  right: 10px;
}

/* BOTON DE INSTAGRAM INDEX----------------------------------------------------------- */
.botonInstaIndex {
  margin: 0 0 10px 0;
  padding: 10px;
}
.botonInstaIndex img {
  width: 40px;
}
.botonInstaIndex img:hover {
  transition: 0.2s;
  filter: invert(100%);
}

/* VIDEO DEL INDEX-------------------------------------------------------------------- */
.video {
  height: 95%;
  display: flex;
  flex: 50%;
}
.video video {
  width: 100%;
  object-fit: cover;
  animation-name: aparecer;
  animation-duration: 8s;
}

/* NAVBAR BOOTSTRAP------------------------------------------------------------------- */
.navbar {
  background-color: rgb(32, 32, 32);
}
.navbar li a {
  color: white;
  padding: 0;
  transition: all 0.5s;
}
.navbar li a:hover {
  background-color: #2b2b2b;
  font-size: 15px;
  border-radius: 5px;
}
.navbar li a:visited {
  color: white;
}

.navbar-brand img {
  width: 93px;
  border: 1px white solid;
  border-radius: 6px;
}

/* GALERIA BOOTSTRAP DE FOTOS BOOKS Y RECITALES----------------------------------------- */
.row {
  margin: 3px;
}
.row img {
  width: 100%;
  padding: 5px;
  transition: 0.3s;
  filter: grayscale(1);
}
.row img:hover {
  filter: none;
  box-shadow: 0px 0px 28px 7px #FFFFFF;
  transition: 0.3s;
}

.col-xl-3 {
  padding: 0;
}

.col-md-6 {
  padding: 0;
}

.col-sm-12 {
  padding: 0;
}

/* FORMULARIO ------------------------------------------------------------------------------ */
.flexPrincipal h3 {
  margin-top: 50px;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  color: white;
  text-align: center;
}

.conteinerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67.5vh;
}
.conteinerForm label {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
}
.conteinerForm .btn {
  margin: 5px 0 5px 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.conteinerForm .btn button {
  padding: 5px;
  width: 100%;
  border: 1px solid white;
}

/* VERSION MOBILE */
@media (max-width: 601px) {
  /* CONTENEDOR FLEX PRINCIPAL PAG INDEX */
  .flexPrincipal {
    display: flex;
    flex-flow: column wrap;
    align-items: normal;
  }
  .flexPrincipal h3 {
    margin: 0 0 10px 0;
  }
  /* FLEX INDEX */
  .flexIndex {
    height: auto;
  }
  /* HEADER INDEX */
  .headerIndex {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: normal;
  }
  /* CONTENEDOR FLEX PRINCIPAL RESTO DE PAGS */
  .flexHeader {
    align-items: normal;
  }
  /* NAVBAR HEADER */
  .navbar {
    display: flex;
    margin: 20px;
  }
  .navbar li a:hover {
    background-color: #333333;
    color: rgb(175, 175, 175);
    font-size: 20px;
  }
  /* LINK INICIO NAVBAR */
  .inicio {
    display: none;
  }
  /* BOTON INSTAGRAM INDEX */
  .botonInstaIndex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* VIDEO DE PORTADA */
  .video {
    display: flex;
    flex: 100%;
    margin: 30px 0 15px 0;
  }
  .video video {
    height: 250px;
  }
  /* FOOTER */
  .navFooter {
    display: none;
    align-items: center;
  }
  .navFooter li a {
    font-size: 10px;
  }
  .infoFooter {
    font-size: 8px;
  }
  /* ENCABEZADO DEL PAG CONTACTO */
  .conteinerForm {
    height: auto;
  }
  .conteinerForm label {
    display: none;
  }
  .conteinerForm h2 {
    margin: 10px;
  }
  /* IMAGEN DE ACERCA DE MI */
  .flexAcercaDe {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .imagenYoDos {
    display: flex;
    height: auto;
    flex: 30%;
    justify-content: center;
  }
  .imagenYoDos img {
    height: 25vh;
    width: 100vw;
    object-fit: cover;
  }
  .imagenYoUno {
    display: none;
  }
  .parrafoYo {
    display: flex;
    flex: 50%;
    justify-content: center;
    align-items: center;
  }
  .parrafoYo p {
    padding: 15px;
    margin: 10px;
    width: 90%;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: lighter;
    font-size: 15px;
    line-height: 20px;
  }
  /* BOTON DE INSTAGRAM */
  .botonInsta {
    position: fixed;
    bottom: 5px;
    right: 5px;
  }
  .botonInsta img {
    width: 40px;
    bottom: 10px;
    right: 10px;
  }
  /* DESHABILITAR HOVER IMAGENES GALERIAS */
  .row {
    margin: 3px;
  }
  .row img {
    width: 100%;
    padding: 5px;
    transition: 0.3s;
    filter: none;
  }
  .row img:not(.disable):hover {
    filter: none;
    box-shadow: 0px 0px 28px 7px #FFFFFF;
    transition: 0.3s;
  }
}
/* VERSION TABLETA */
@media (min-width: 602px) and (max-width: 900px) {
  /* HEADER INDEX */
  .headerIndex {
    height: 45%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
  /* VIDEO DE PORTADA */
  .video {
    height: 45%;
    display: flex;
    flex: 100%;
  }
  /* LOGO CAMARA NAVBAR */
  .navbar-brand img {
    display: none;
  }
  /* ENCABEZADO DEL PAG CONTACTO */
  .conteinerForm h2 {
    margin: 10px;
  }
  /* IMAGEN DE ACERCA DE MI */
  .flexAcercaDe {
    display: flex;
    flex: 75vh;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  .imagenYoUno {
    display: flex;
    height: 75vh;
    flex: 50%;
    justify-content: center;
    align-items: center;
  }
  .imagenYoUno img {
    height: 60vh;
    width: 100%;
    object-fit: cover;
  }
  .imagenYoDos {
    display: none;
  }
  .parrafoYo {
    display: flex;
    flex: 50%;
    justify-content: left;
    align-items: center;
  }
  .parrafoYo p {
    width: 80%;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: lighter;
    font-size: 15px;
    line-height: 20px;
  }
  /* DESHABILITAR HOVER IMAGENES GALERIAS */
  .row {
    margin: 3px;
  }
  .row img {
    width: 100%;
    padding: 5px;
    transition: 0.3s;
    filter: none;
  }
  .row img:not(.disable):hover {
    filter: none;
    box-shadow: 0px 0px 28px 7px #FFFFFF;
    transition: 0.3s;
  }
}
/* VERSION DESKTOP */
@media (min-width: 901px) {
  /* LOGO CAMARA NAVBAR */
  .navbar-brand img {
    display: none;
  }
}

/*# sourceMappingURL=estilos.css.map */
