/* FOOTER------------------------------------------------------------------------ */
.flexFooter {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	padding: 5px;
}

.navFooter {
	font-family: $fontMontserrat;

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	li {
		display: inline;
		padding-right: 10px;
		padding-left: 10px;

		a {
			padding: 5px;
			color: $colorLetraFooter;
			text-decoration: none;
			font-size: 14px;

			&:hover {
				transition: 0.1s;
				background-color: $backgroundHover;
				color: $colorLetraHover;
				border-radius: 4px;
			}
		}
	}
}

.infoFooter {
	margin: 0;
	font-family: $fontMontserrat;
	font-size: 12px;
	color: $colorLetraFooter;
}