/* HEADER GENERAL------------------------------------------------------------------------- */
.flexHeader {
	display: flex;
	flex-direction: column;
	margin-top: 10px;

	h1 {
		@include tituloUno;
	}

	h2 {
		@include tituloDos;
	}
}

/* HEADER INDEX------------------------------------------------------------------------- */

@keyframes aparecer {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 100%;
	}
}

.headerIndex {
	height: 95%;
	display: flex;
	flex: 50%;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;

	h1 {
		@include tituloUno;
		animation-name: aparecer;
		animation-duration: 5s;
		animation-iteration-count: initial;
	}

	h2 {
		@include tituloDos;
		animation-name: aparecer;
		animation-duration: 4s;
		animation-iteration-count: initial;
	}

	p {
		@include parrafos;
		text-align: center;
		margin: 40px 40px 20px 40px;
		animation-name: aparecer;
		animation-duration: 5s;
		animation-iteration-count: initial;
	}
}