/* IMAGEN DEL INDEX----------------------------------------------------------------- */

.imagen {
	height: 95%;
	display: flex;
	flex: 50%;
	img {
		width: 100%;
		object-fit: cover;
		animation-name: aparecer;
		animation-duration: 8s;
	}
}

.imagen {
    video {
        width: 100%;
        object-fit: cover;
        animation-name: aparecer;
        animation-duration: 8s;
    }
}

/* GALERIA DE FOTOS RECITALES-------------------------------------------------------- */

.galeria {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	padding: 5px;
}
.columna {
	flex: 25%;
	img {
		width: 100%;
		padding: 3px;
		object-fit: cover;
	}
}
