/* MEDIA QUERIES----------------------------------------------------------------------- */

/* VERSION MOBILE */
@media (max-width: 601px) {

	/* FELX HEADER PRINCIPAL */
	.flexPrincipal {
		display: flex;
		flex-flow: column wrap;
		align-items: normal;

		h3 {
			margin: 0 0 10px 0;
		}
	}

	/* FLEX HEADER GENERAL */
	.flexHeader {
		align-items: normal;
	}

	/* FLEX INDEX */
	.flexIndex {
		height: auto;
	}

	/* HEADER INDEX */
	.headerIndex {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: normal;
	}

	/* NAVBAR HEADER */
	.navbar {
		display: flex;
		margin: 20px;

		li {
			a {
				&:hover {
					background-color: $backgroundHover;
					color: $colorLetraFooter;
					font-size: 20px;
				}
			}
		}
	}

	/* LINK INICIO NAVBAR */
	.inicio {
		display: none;
	}

	/* BOTON INSTAGRAM INDEX */
	.botonInstaIndex {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/* VIDEO DE PORTADA */
	.video {
		display: flex;
		flex: 100%;
		margin: 30px 0 15px 0;

		video {
			height: 250px;
		}
	}

	/* FOOTER */
	.navFooter {
		display: none;
		align-items: center;

		li {
			a {
				font-size: 10px;
			}
		}
	}

	.infoFooter {
		font-size: 8px;
	}


	/* ENCABEZADO DEL PAG CONTACTO */
	.conteinerForm {
		height: auto;

		label {
			display: none;
		}

		h2 {
			margin: 10px;
		}
	}

	/* IMAGEN DE ACERCA DE MI */
	.flexAcercaDe {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
	}

	.imagenYoDos {
		display: flex;
		height: auto;
		flex: 30%;
		justify-content: center;

		img {
			height: 25vh;
			width: 100vw;
			object-fit: cover;
		}
	}

	.imagenYoUno {
		display: none;
	}

	.parrafoYo {
		display: flex;
		flex: 50%;
		justify-content: center;
		align-items: center;

		p {
			padding: 15px;
			margin: 10px;
			width: 90%;
			@include parrafos;
		}
	}

}

/* BOTON DE INSTAGRAM--------------------------------------------------------------- */
.botonInsta {
	position: fixed;
	bottom: 5px;
	right: 5px;

	img {
		width: 40px;
		bottom: 10px;
		right: 10px;
	}
}

//--------------------------------------------------------------------------------------------------------------------


/* VERSION TABLETA */
@media (min-width: 602px) and (max-width: 900px) {

	/* HEADER INDEX */
	.headerIndex {
		height: 45%;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
	}

	/* VIDEO DE PORTADA */
	.video {
		height: 45%;
		display: flex;
		flex: 100%;
	}

	/* LOGO CAMARA NAVBAR */
	.navbar-brand {
		img {
			display: none;
		}
	}

	/* ENCABEZADO DEL PAG CONTACTO */
	.conteinerForm {
		h2 {
			margin: 10px;
		}
	}

	/* IMAGEN DE ACERCA DE MI */
	.flexAcercaDe {
		display: flex;
		flex: 75vh;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
	}

	.imagenYoUno {
		display: flex;
		height: 75vh;
		flex: 50%;
		justify-content: center;
		align-items: center;

		img {
			height: 60vh;
			width: 100%;
			object-fit: cover;
		}
	}

	.imagenYoDos {
		display: none;
	}

	.parrafoYo {
		display: flex;
		flex: 50%;
		justify-content: left;
		align-items: center;

		p {
			width: 80%;
			@include parrafos;
		}
	}
}

//---------------------------------------------------------------------------------------------------------------------

/* VERSION DESKTOP */
@media (min-width:901px) {

	/* LOGO CAMARA NAVBAR */
	.navbar-brand {
		img {
			display: none;
		}
	}

}