/* PARRAFO BIENVENIDA INDEX--------------------------------------------------------- */
.bienvenidos {
	font-family: $fontMontserrat;
	color: $colorLetras;
	font-weight: lighter;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	margin: 40px 40px 20px 40px;
}

/* PARRAFO ACERCA DE MI------------------------------------------------------------- */
.acercaDeMi {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 50%;
	text-align: center;
	justify-content: space-around;
	font-family: $fontMontserrat;
	font-size: 15px;
	color: $colorLetras;
}
