//FUENTES
$fontBebas: 'Bebas Neue', cursive;
$fontDistant: "distant stroke";
$fontMontserrat: 'Montserrat', sans-serif;

//COLORES LETRAS
$colorLetras: white;
$colorLetraFooter: rgb(175, 175, 175);
$colorLetraHover: #ffffff;

//COLORES FONDOS
$colorFondo: rgb(32, 32, 32);
$backgroundHover: #333333;
$backgroundHover2: #2b2b2b;