/* RESET DE MARGIN Y PADDING------------------------------------------------------ */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* BODY--------------------------------------------------------------------------- */
body {
	background-color: $colorFondo;
}


/* FLEX PRINCIPAL----------------------------------------------------------------- */
.flexPrincipal {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

/* FLEX INDEX -------------------------------------------------------------------- */
.flexIndex {
	height: 100vh;
	display: flex;
	flex-flow: row wrap;
}

/* FLEX PAGINA ACERCA DE MI -------------------------------------------------------*/
.flexAcercaDe {
	display: flex;
	flex: 75vh;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.imagenYoUno {
	margin: 0 20px 0 0;
	display: flex;
	height: 75vh;
	flex: 50%;
	justify-content: right;
	align-items: center;

	img {
		height: 35vh;
		width: 80%;
		object-fit: cover;
	}
}

.imagenYoDos {
	display: none;
}

.parrafoYo {
	display: flex;
	flex: 50%;
	justify-content: left;
	align-items: center;

	p {
		width: 60%;
		@include parrafos;
	}
}



/* BOTON DE INSTAGRAM--------------------------------------------------------------- */
.botonInsta {
	position: fixed;
	bottom: 15px;
	right: 20px;

	img {
		width: 40px;
		bottom: 10px;
		right: 10px;
	}
}

/* BOTON DE INSTAGRAM INDEX---------------------------------------------------------- */
.botonInstaIndex {
	margin: 0 0 10px 0;
	padding: 10px;

	img {
		width: 40px;

		&:hover {
			filter: invert(100%);
		}
	}
}